<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <a routerLink="home" routerLinkActive="active">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <a routerLink="clientes" routerLinkActive="active">
                    <mat-icon>person</mat-icon>
                    <span>Clientes</span>
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <a routerLink="veiculos" routerLinkActive="active">
                    <mat-icon>directions_car</mat-icon>
                    <span>Veículos</span>
                </a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content class="main">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
