<h2>Clientes - Cadastro</h2>
<form action="">
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Nome do Cliente</mat-label>
            <input matInput />
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint>*campo obrigatório</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput />
            <mat-icon matSuffix>description</mat-icon>
            <mat-hint>*campo obrigatório</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput />
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>*campo obrigatório</mat-hint>
        </mat-form-field>
    </p>
</form>
